# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Software.Design.Patterns.Signleton.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Software.Design.Patterns.Signleton/bin
/Software.Design.Patterns.Signleton/obj
/.idea

